/* Form styling. */
.entry{
    margin: 200px 550px 0px 550px; 
    border-top-right-radius: 10px; 
    border-top-left-radius: 10px;
}
.formview{
    margin: 10px 10px 10px 10px;
}

#posts{
    margin: 10px 10px 10px 10px;
}

.card-header-background{
    background-color: rgb(102, 252, 182);
}

.nabclass{
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0px;
    right: 0px;
}

#likebtn{
    color:blue;
    text-decoration: none; 
}
.num_of_likes{
    color: blue;
    font-weight: 700;
}

label{
    color: red;
}

/* Side bar*/
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #24232f;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: rgb(255, 255, 255);
    padding: 16px;
    text-decoration: none;
    font-weight: bold;
    font-style: oblique;
  }
   
  .sidebar a.active {
    background-color: #11241d;
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

  /* Plus sign inside a circle and the circle inside a square */
  $border: 5px solid #3498db;
  $bg_color : #e8f3fb;

  .container {
    width: 200px;
    height: 200px;
    background-color: $bg_color; 
    position: relative;
    border: $border;
}

.circle {
    width: 100px;
    height: 100px;
    background-color: $bg_color; /* Red circle background color */
    border-radius: 50%; /* Create a circle using border-radius */
    position: absolute;
    top: 50px;
    left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: $border;
}

// .plus {
//     width: 40px;
//     height: 10px;
//     background-color: white; /* White plus sign color */
//     position: absolute;
//     border: 2px solid #3498db;
// }

// .horizontal-line {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
// }

// .vertical-line {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%) rotate(90deg);
// }

.plus {
  width: 40px;
  height: 10px;
  background-color: #3498db; /* White plus sign color */
  position: relative;
}

.horizontal-line,
.vertical-line {
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
}

.horizontal-line {
  top: 45%;
  left: 0;
  transform: translate(0, -50%);
}

.vertical-line {
  left: 45%;
  top: 0;
  transform: translate(-50%, 0) rotate(90deg);
}